# No cache for files
<filesMatch ".(jpg|jpeg|png|gif|ico|css|js|html)$">
Header set Cache-Control "max-age=0, public"
</filesMatch>

RewriteEngine On
# RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
AddDefaultCharset UTF-8