<!-- Company Greetings -->
<div class="title-header">
    <hr> 
    <h3>社長のご挨拶</h3>
    <hr>
</div>

  <!-- message from the President -->
<div class="wrapper">
    <h4>&#34;To the computer society where everyone lives together&#34;</h4>
    <h3> 創る人、使う人。<span class = "wordNoWrap"> 誰もが共存するコンピュータ社会へ</span></h3>
    <br/>
    <div class="message"> 
        <h4>皆様へ</h4>
        <p>平素は格別のご支援を賜り、厚くお礼申し上げます。</p>
        <p>某国の株式市場における株価暴落が、つぎつぎと世界各国の株式市場で連鎖する、国境も時間も越えたボーダレス社会となっており、すばやい変化への対応が要求されるようになっています。このような時代に、迅速な経営意思決定を行なうため、また、機動的な組織運営を行なうため、当社は経営体制をスリム化しました。</p>
        <p>また、好調な受注環境の中、新たな成長を成し遂げるため、大幅な組織改定を行なうとともに、中期経営計画をスタートさせました。</p>
        <p>その基本方針は、「経営意思決定の迅速化」「経営リソ－スの有効活用」「財務体質の改善」です。それらに真剣に取り組んでいき、当社の経営目標である「お客様の経営に貢献する」こと、「お客様の永続的なビジネスパートナーを目指す」こと、また、「従業員が未来を託せる企業」たるべく努力してまいります。 </p>
        <p>そして、従来からの課題であった、プロジェクト管理、品質・生産性向上、人材育成につきましては、本部に専門セクションを設け、優れた人材を投入し、抜本的に強化いたします。</p>
        <p>このような取り組みを通して、厳しい競争時代を生き抜く力強い組織と、専門知識・業務知識の豊富な、創造的で活力に満ちた人材を育成して、お客様により高い付加価値を提供できる企業を目指し、邁進してまいります。</p>
        <p>今後とも何とぞ、格別のご理解とご支援を賜りますようお願い申し上げます。</p>
        <p class="author">日本インターシステムズ株式会社</p>
        <p class="position">代表取締役社長　高橋　徹</p>
    </div> 
</div>

