<!-- History -->

  <!-- header part -->
  <div class="title-header">
      <hr> 
      <h3>沿革</h3>
      <hr>
  </div>
  
  <!-- timeline details -->
  <div class = "history">
    <div id="timeline">
      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content" data-aos="zoom-in">
          <div class="year">
            <h2>2018</h2>
            <span>(平成30年)</span>
          </div>
          <div class = "events">
              <span class = "month">3<span class = "monthName">月</span></span>
              <div class = "details">
                名古屋支店移転
                <span class="noBreakWord">(愛知県名古屋市中村区名駅)</span>
                <br>
                <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
                愛知県名古屋市中村区名駅 3-11-22 
                <span class="noBreakWord">IT名駅ビル</span>
              </div>
          </div>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right" data-aos="zoom-in">
          <div class="year">
            <h2>2011</h2>
            <span>(平成23年)</span>
          </div>
          <div class = "events">
            <span class = "month">4<span class = "monthName">月</span></span>
            <div class = "details">
              名古屋支店移転
              <span class="noBreakWord">（中村区：太陽生命名駅ビル）</span>
              <br>
              <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
              愛知県名古屋市中村区名駅 3-16-4
              <span class="noBreakWord">太陽生命名駅ビル</span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content" data-aos="zoom-in">
          <div class="year">
            <h2>2010</h2>
            <span>(平成22年)</span>
          </div>
          <div class = "events">
            <span class = "month">10<span class = "monthName">月</span></span>
            <div class = "details">
              浜松支店移転
              <span class="noBreakWord">（中区：太陽生命浜松ビル）</span>
              <br>
              <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
                静岡県浜松市中区砂山町 353-8
              <span class="noBreakWord">太陽生命浜松ビル</span>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right" data-aos="zoom-in">
          <div class="year">
            <h2>2009</h2>
            <span>(平成21年)</span>
          </div>
          <div class = "events">
            <span class = "month">6<span class = "monthName">月</span></span>
            <div class = "details">
              東京支店移転
              <span class="noBreakWord">（新宿区：西新宿昭和ビル）</span>
              <br>
              <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
              東京都新宿区西新宿 1-13-12
              <span class="noBreakWord">西新宿昭和ビル</span>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content" data-aos="zoom-in">
          <div class="year">
            <h2>2008</h2>
            <span>(平成20年)</span>
          </div>
          <div class = "events">
            <span class = "month">6<span class = "monthName">月</span></span>
            <div class = "details">
              本社移転
              <span class="noBreakWord">（大阪市北区）</span>
              <br>
              <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
              大阪府大阪市北区曽根崎新地 1-4-12
              <span class="noBreakWord">桜橋プラザビル</span>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right" data-aos="zoom-in">
          <div class="year">
            <h2>2006</h2>
            <span>(平成18年)</span>
          </div>
          <div class = "events">
            <span class = "month">12<span class = "monthName">月</span></span>
            <div class = "details">
              ソリューションセンター開設
              <span class="noBreakWord">(淀川区：新大阪西浦ビル)</span>
              <br>
              <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
              大阪府大阪市淀川区西宮原2丁目7-38
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content" data-aos="zoom-in">
          <div class="year">
            <h2>2005</h2>
            <span>(平成17年)</span>
          </div>
          <div class = "events">
            <span class = "month">4<span class = "monthName">月</span></span>
            <div class = "details">
              プライバシーマーク認証を取得
              <a target="_blank" href = "http://privacymark.jp/">
                <img class = "imgHistory" src = "/inter/assets/images/about/privacymark.png" />
              </a>
              <br />
              <p class = "historyPrivacy">
                "当社は、機密情報保護を重要課題の一つと考え、「機密情報の保護を徹底することが社会的責務である」、「お客様の信頼を高めるため」という認識をもって日々努めております"
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right" data-aos="zoom-in">
          <div class="year">
            <h2>2004</h2>
            <span>(平成16年)</span>
          </div>
          <div class = "events">
            <span class = "month">8<span class = "monthName">月</span></span>
            <div class = "details">
              東京支店移転
              <span class="noBreakWord">（品川区：住友大井町ビル）</span>
              <br>
              <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
              東京都品川区大井 1-20-10
              <span class="noBreakWord">住友大井町ビル南館</span>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content" data-aos="zoom-in">
          <div class="year">
            <h2>2003</h2>
            <span>(平成15年)</span>
          </div>
          <div class = "events">
            <span class = "month">3<span class = "monthName">月</span></span>
            <div class = "details">
              東京支店移転
              <span class="noBreakWord">（千代田区：丸の内中央ビル）</span>
              <br>
              <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
              日本、東京都千代田区丸の内1丁目9
            </div>
          </div>
          <div class = "events2">
            <span class = "month">10<span class = "monthName">月</span></span>
            <div class = "details">増資：資本金２億６４００万円 </div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right" data-aos="zoom-in">
          <div class="year">
            <h2>2002</h2>
            <span>(平成14年)</span>
          </div>
          <div class = "events">
            <span class = "month">8<span class = "monthName">月</span></span>
            <div class = "details">名古屋支店開設
              <span class="noBreakWord">（中村区：名古屋駅前SIAビル）</span>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content" data-aos="zoom-in">
          <div class="year">
            <h2>2000</h2>
            <span>(平成12年)</span>
          </div>
          <div class = "events">
            <span class = "month">4<span class = "monthName">月</span></span>
            <div class = "details">
              本社移転
              <span class="noBreakWord">（淀川区：アクロス新大阪ビル）</span>
            </div>
          </div>
          <div class = "events2">
            <span class = "month">8<span class = "monthName">月</span></span>
            <div class = "details">大阪府創造活動促進法認定</div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right" data-aos="zoom-in">
          <div class="year">
            <h2>1997</h2>
            <span>(平成9年)</span>
          </div>
          <div class = "events">
            <span class = "month">5<span class = "monthName">月</span></span>
            <div class = "details">
              東京支店移転
              <span class="noBreakWord">（日本橋浜町：日本橋中央ビル）</span>
              <br>
              <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
              東京都中央区日本橋2丁目16-3
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content" data-aos="zoom-in">
          <div class="year">
            <h2>1996</h2>
            <span>(平成8年)</span>
          </div>
          <div class = "events">
            <span class = "month">8<span class = "monthName">月</span></span>
            <div class = "details">インターネット導入</div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right" data-aos="zoom-in">
          <div class="year">
            <h2>1995</h2>
            <span>(平成7年)</span>
          </div>
          <div class = "events">
            <span class = "month">7<span class = "monthName">月</span></span>
            <div class = "details">
              本社移転
              <span class="noBreakWord">（淀川区：中尾ロイヤルビル）</span>
              <br>
              <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
              大阪府大阪市淀川区宮原2丁目14-10
            </div>
          </div>
          <div class = "events2">
            <span class = "month">8<span class = "monthName">月</span></span>
            <div class = "details">Lotus Notes導入</div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content" data-aos="zoom-in">
          <div class="year">
            <h2>1994</h2>
            <span>(平成6年)</span>
          </div>
          <div class = "events">
            <span class = "month">3<span class = "monthName">月</span></span>
            <div class = "details">通商産業省認定システムインテグレータ登録</div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right" data-aos="zoom-in">
          <div class="year">
            <h2>1992</h2>
            <span>(平成4年)</span>
          </div>
          <div class = "events">
            <span class = "month">1<span class = "monthName">月</span></span>
            <div class = "details">増資：資本金2億円</div>
          </div>
          <div class = "events2">
            <span class = "month">6<span class = "monthName">月</span></span>
            <div class = "details">WAN/LAN構築</div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content" data-aos="zoom-in">
          <div class="year">
            <h2>1990</h2>
            <span>(平成2年)</span>
          </div>
          <div class = "events">
            <span class = "month">6<span class = "monthName">月</span></span>
            <div class = "details">
              浜松支店移転
              <span class = "noBreakWord">（連尺町：EME浜松ビル）</span>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right" data-aos="zoom-in">
          <div class="year">
            <h2>1989</h2>
            <span>(平成元年)</span>
          </div>
          <div class = "events">
            <span class = "month">7<span class = "monthName">月</span></span>
            <div class = "details">
              インターネット（株）
              <span class = "noBreakWord">吸収合併：</span>
              <span class = "noBreakWord">資本金１億６０００万円</span>
            </div>
          </div>
        </div>
      </div>

      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content" data-aos="zoom-in">
          <div class="year">
            <h2>1987</h2>
            <span>(昭和62年)</span>
          </div>
          <div class = "events">
            <span class = "month">5<span class = "monthName">月</span></span>
            <div class = "details">増資：資本金6000万円</div>
          </div>
        </div>
      </div>

      <div class="timeline-item last">
        <div class="timeline-icon"></div>
        <div class="timeline-content right" data-aos="zoom-in">
          <div class="year">
            <h2>1985</h2>
            <span>(昭和60年)</span>
          </div>
          <div class = "events">
            <span class = "month">1<span class = "monthName">月</span></span>
            <div class = "details">
              日本インターシステムズ設立
              <span class = "noBreakWord">（本社：大阪）</span>
              <br />
              浜松支店開設（野口町）
            </div>
          </div>
          <div class = "events2">
            <span class = "month">3<span class = "monthName">月</span></span>
            <div class = "details">東京支店開設（日本橋）</div>
          </div>
          <div class = "events2">
            <span class = "month">5<span class = "monthName">月</span></span>
            <div class = "details">増資：資本金3000万円</div>
          </div>
        </div>
      </div>
    </div>
  </div>