<!-- Office Locations -->
<div class = "container">

  <!-- header part -->
  <div class="row title-header">
    <hr>
    <h3 data-scroll-to=".test">事業所所在地</h3>
    <hr>
  </div>

  <div class="row location" id="osaka-location">
    <div class="col">
      <div class="card">
        <div class="header">
          <div class="col-md-10 pull left">
            <h3 class="common-header-primary">
                <span class="common-header-main">大阪本社</span>
                <span class="common-header-div">|</span>
                <span class="common-header-sub">OSAKA HEAD OFFICE</span>
            </h3>
          </div>
        </div>
        <div class="body">
          <table>
            <tr>
              <td>
                <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
              </td>
              <td>
                〒530-0002
                大阪府大阪市北区曽根崎新地
                1-4-12　桜橋プラザビル
              </td>
            </tr>
  
            <tr>
              <td>
                <img class = "icon" src="/inter/assets/images/common/phone.png"></img>
              </td>
              <td>
                06-6347-5501（代）
              </td>
            </tr>
  
            <tr>
              <td>
                <img class = "icon" src="/inter/assets/images/common/printer.png"></img>
              </td>
              <td>
                06-6347-5551
              </td>
            </tr>
  
            <tr>
                <td>
                  <img class = "icon" src="/inter/assets/images/common/envelope.png"></img>
                </td>
                <td>
                  info@nisz.co.jp
                </td>
            </tr>
          </table>

          <img class="imgView" src="/inter/assets/images/topics/Main Branch.png" alt="">

          <iframe src="https://www.google.com/maps/embed/v1/place?q=大阪府大阪市北区曽根崎新地 桜橋プラザビル&key=AIzaSyBA2N4p_7UBs1eBCeLhAkzRvxYBzNkqoNw&zoom=17&center=34.698101, 135.495896"></iframe>
        </div>
      </div>
    </div>
  </div>

  
  <div class="row location top-buffer" id="tokyo-location">
      <div class="co">
        <div class="card">
          <div class="header">
            <div class="col-md-10 pull left">
                <h3 class="common-header-primary">
                    <span class="common-header-main">東京支店</span>
                    <span class="common-header-div">|</span>
                    <span class="common-header-sub">TOKYO BRANCH</span>
                </h3>
            </div>
          </div>
          <div class="body">
            <table>
              <tr>
                <td>
                  <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
                </td>
                <td>
                  〒160-0023
                  東京都新宿区西新宿1-13-12
                  西新宿昭和ビル
                </td>
              </tr>
    
              <tr>
                <td>
                  <img class = "icon" src="/inter/assets/images/common/phone.png"></img>
                </td>
                <td>
                  03-6279-0531（代）
                </td>
              </tr>
    
              <tr>
                <td>
                  <img class = "icon" src="/inter/assets/images/common/printer.png"></img>
                </td>
                <td>
                  03-6279-0532
                </td>
              </tr>
    
              <tr>
                  <td>
                    <img class = "icon" src="/inter/assets/images/common/envelope.png"></img>
                  </td>
                  <td>
                    info@nisz.co.jp
                  </td>
              </tr>
            </table>

            <img class="imgView" src="/inter/assets/images/topics/TokyoBranch.png" alt="">

            <iframe src="https://www.google.com/maps/embed/v1/place?q=西新宿昭和ビル&key=AIzaSyBA2N4p_7UBs1eBCeLhAkzRvxYBzNkqoNw&zoom=17&center=35.689814, 139.696358"></iframe>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row location top-buffer" id="nagoya-location">
      <div class="col">
        <div class="card">
          <div class="header">
            <div class="col-md-10 pull left">
                <h3 class="common-header-primary">
                    <span class="common-header-main">名古屋支店</span>
                    <span class="common-header-div">|</span>
                    <span class="common-header-sub">NAGOYA BRANCH</span>
                </h3>
            </div>
          </div>
          <div class="body">
            <table>
              <tr>
                <td>
                  <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
                </td>
                <td>
                  〒450-0002
                  愛知県名古屋市中村区名駅
                  3-11-22　ＩＴ名駅ビル
                </td>
              </tr>
    
              <tr>
                <td>
                  <img class = "icon" src="/inter/assets/images/common/phone.png"></img>
                </td>
                <td>
                  052-588-3480
                </td>
              </tr>
    
              <tr>
                <td>
                  <img class = "icon" src="/inter/assets/images/common/printer.png"></img>
                </td>
                <td>
                  052-588-3481
                </td>
              </tr>
    
              <tr>
                  <td>
                    <img class = "icon" src="/inter/assets/images/common/envelope.png"></img>
                  </td>
                  <td>
                    info@nisz.co.jp
                  </td>
              </tr>
            </table>

            <img class="imgView" src="/inter/assets/images/topics/Nagoya Branch.png" alt="">

            <iframe src="https://www.google.com/maps/embed/v1/place?q=愛知県名古屋市中村区名駅 3-11-22　ＩＴ名駅ビル&key=AIzaSyBA2N4p_7UBs1eBCeLhAkzRvxYBzNkqoNw&zoom=17&center=35.175034, 136.885112"></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="row location top-buffer test" id="hamamatsu-location">
        <div class="col">
          <div class="card">
            <div class="header">
              <div class="col-md-10 pull left">
                  <h3 class="common-header-primary">
                      <span class="common-header-main">浜松支店</span>
                      <span class="common-header-div">|</span>
                      <span class="common-header-sub">HAMAMATSU BRANCH</span>
                  </h3>
              </div>
            </div>
            <div class="body">
              <table>
                <tr>
                  <td>
                    <img class = "icon" src="/inter/assets/images/common/map-marker.png"></img>
                  </td>
                  <td>
                    〒430-0926
                    静岡県浜松市中区砂山町353-8　太陽生命浜松ビル
                  </td>
                </tr>
      
                <tr>
                  <td>
                    <img class = "icon" src="/inter/assets/images/common/phone.png"></img>
                  </td>
                  <td>
                    053-455-0005
                  </td>
                </tr>
      
                <tr>
                  <td>
                    <img class = "icon" src="/inter/assets/images/common/printer.png"></img>
                  </td>
                  <td>
                    053-455-0066
                  </td>
                </tr>
      
                <tr>
                    <td>
                      <img class = "icon" src="/inter/assets/images/common/envelope.png"></img>
                    </td>
                    <td>
                      info@nisz.co.jp
                    </td>
                </tr>
              </table>

              <img class="imgView" src="/inter/assets/images/topics/Hamamatsu Branch.png" alt="">

              <iframe src="https://www.google.com/maps/embed/v1/place?q=〒430-0926 静岡県浜松市中区砂山町353-8　太陽生命浜松ビル&key=AIzaSyBA2N4p_7UBs1eBCeLhAkzRvxYBzNkqoNw&zoom=17&center=34.702798, 137.735608"></iframe>
            </div>
          </div>
        </div>
      </div>


</div>