  <!-- Profile -->

<div class="title-header">
    <hr> 
    <h3>会社概要</h3>
    <hr>
</div>

<table id="profile-info">
    <thead>
        <tr class = "header">
            <th scope= "row">社名</th>
            <td colspan="2">日本インターシステムズ株式会社</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope= "row">設立</th>
            <td colspan="2">1985年1月7日</td>
        </tr>
        <tr>
            <th scope= "row">代表者</th>
            <td colspan="2">代表取締役社長　高橋　徹</td>
        </tr>
        <tr>
            <th scope= "row">資本金</th>
            <td colspan="2">1億円</td>
        </tr>
        <tr>
            <th scope= "row">社員数</th>
            <td colspan="2">205人：2015年3月現在（グループ全体：495名）</td>
        </tr>
        <tr>
            <th scope= "row">平均年齢</th>
            <td colspan="2">31.5歳</td>
        </tr>
        <tr>
            <th scope= "row">事業内容</th>
            <td colspan="2">
                <table class="plain">
                    <tr>
                        <td>(1) ＳＩ事業</td>
                        <td class = "colNewLine">業務改革提案＆開発・受託</td>
                    </tr>
                    <tr>
                        <td>(2) ＦＥ事業</td>
                        <td class = "colNewLine">フィールドエンジニアリング （システム環境構築・展開・ヘルプデスク）</td>
                    </tr>
                    <tr>
                        <td>(3) パッケージ事業</td>
                        <td class = "colNewLine">
                            <ul>
                                <li>医療機関向パッケージ</li>
                                <li><i>HyperTree</i>関連パッケージ</li>
                                <li>飼料配合設計計算パッケージ</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th scope= "row">取引銀行</th>
            <td colspan="2">三菱東京UFJ銀行 堂島支店</td>
        </tr>
        <tr>
            <th scope= "row">取引先</th>
            <td>
                <ul class = "list1">
                    <li>日本電気(株)</li>
                    <li>ヤマハ(株)</li>
                    <li>ヤマハ発動機(株)</li>
                    <li>大塚製薬(株)</li>
                    <li>ジェイアール西日本情報システム(株)</li>
                    <li>アサヒビジネスソリューションズ(株)</li>
                    <li>伊藤忠テクノソリューションズ(株)</li>
                    <li>NECフィールディング(株)</li>
                    <li>トクラス(株)</li>
                    <li>武田薬品工業(株)</li>
                </ul>
                <ul class = "list2">
                    <li>第一三共(株)</li>
                    <li>日本IBM(株)</li>
                    <li>スズキ(株)</li>
                    <li>(株)JSOL</li>
                    <li>NECソリューションイノベータ(株)</li>
                    <li>NECネクサソリューションズ(株)</li>
                    <li>(株)NEC情報システムズ</li>
                    <li>(株)N&J金融ソリューションズ</li>
                    <li>ダイキン情報システム(株)</li>
                    <li>日本コンピュータシステム(株)</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>


