<footer class="main-footer" id="mainFooter">
	<!-- Personal information protection-->
	<div class="container main-class-property">
		<div class="row">
			<!-- Align left contents -->
			<div class="col-xs-12 col-sm-12 col-md-3 containers">
				<div><img class="logo" src="/inter/assets/images/homepage/INTERnav.png"></div>
				<ul>
					<li><a href="/inter/about" id="message">社長のご挨拶</a></li>
					<li><a href="/inter/about" id="profile">会社概要</a></li>
					<li><a href="/inter/about" id="chart">組織図</a></li>
					<li><a href="/inter/about" id="history">歴史</a></li>
					<li><a href="/inter/about" id="location">事業所所在地</a></li>
					<li><a href="/inter/privacy" target="_blank">
						<img class="lock" src="/inter/assets/images/homepage/lock.png">当社の個人情報保護について
					</a></li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-3 containers">
				<h5>Useful links</h5>
				<hr class="gray-footer">
				<ul>
					<li><a href='/inter/about' id="company">私たちに関して</a></li>
					<li><a href='/inter/products'>製品紹介</a></li>
					<li><a href='/inter/hypertree'><span class="italic">Hypertree</span> 技術</a></li>
					<li><a href='/inter/topics'>トピックス</a></li>
					<li><a href='/inter/careers'>採用情報</a></li>
					<!-- <li><a href="/inter/contact">お問い合わせ</a></li> -->
					<li><a href="/inter/#contact" id="navContact" targ="#contact">お問い合わせ</a></li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-3 containers">
				<h5>Products</h5>
				<hr class="gray-footer">
				<ul>
					<li><a href="/inter/products/nurseaid">NurseAID</a></li>
					<li><a href="/inter/products/nursenavi">NurseNAVI</a></li>
					<li><a href="/inter/products/elearning">Nurse e-Learning</a></li>
					<li><a href="/inter/products/linic">LINIC III</a></li>
					<li><a href="/inter/products/medworks">MedWorks</a></li>
					<li class="special"><a href="/inter/products">全てのパッケージはこちら</a></li>
				</ul>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-3 containers">
				<h5>Our offices</h5>
				<hr class="gray-footer">
				<ul>
					<li><a href="/inter/about/?osaka" id="location">大阪本社</a></li>
			        <li><a href="/inter/about/?tokyo" id="location">東京支店</a></li>
			        <li><a href="/inter/about/?nagoya" id="location">名古屋支店</a></li>
			        <li><a href="/inter/about/?hamamatsu" id="location">浜松支店</a></li>
			    </ul>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<hr class="gray-footer">
	<div class="div-footer">
		<p>
			<span>Copyright© 2018 Nihon Inter Systems Co., Ltd. </span>
			<span>All rights reserved.</span>
		</p>
	</div>
</footer>