	<!-- View ports and stylesheet libraries-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge;" />

	<!-- fonts -->
	<link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet">

	<!-- Bootstrap CSS-->
	<link rel="stylesheet"  href="/inter/assets/css/common/bootstrap.min.css">
	<!-- Navbar and Footer css-->
	<link rel="stylesheet" href="/inter/assets/css/common/preloader-navbar-footer.css">
	<!-- Back to top-->
	<link rel="stylesheet" href="/inter/assets/css/common/return-to-top.css">
	<!-- Header -->
    <link rel="stylesheet" href="/inter/assets/css/common/common.css"/>