<nav id="navigation-bar" class="navbar navbar-fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/inter">
                <img src="/inter/assets/images/homepage/INTERnav.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="modal" data-target="#nav-modal" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="overlay navbar-collapse collapse  jpn-font-light" id="menu" >
            <ul class="overlay-content navbar-nav navbar-right">
                <li><a href='/inter/about'>私たちに関して</a></li>
                <li><a href='/inter/products'>製品紹介</a></li>
                <li><a href='/inter/hypertree'><span class="italic">Hypertree</span> 技術</a></li>
                <li><a href='/inter/topics'>トピックス</a></li>
                <li><a href='/inter/careers'>採用情報</a></li>
                <li><a href="/inter/#contact" id="navContact" targ="#contact">お問い合わせ</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="nav-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <a id="btn-close" href="javascript:void(0)">&times;</a>
    <div class="modal-dialog" role="document">
        <div class="modal-nav-content">
        <div class="modal-nav-body">
            <ul>
                <li><a href='/inter/about'>私たちに関して</a></li>
                <li><a href='/inter/products'>製品紹介</a></li>
                <li><a href='/inter/hypertree'><span class="italic">Hypertree</span> 技術</a></li>
                <li><a href='/inter/topics'>トピックス</a></li>
                <li><a href='/inter/careers'>採用情報</a></li>
                <li><a href="/inter/#contact" id="burgerContact" targ="#contact">お問い合わせ</a></li>
            </ul>
        </div>
        </div>
    </div>
</div>