		<!-- Topics Section start -->
		<div id="topics">
			<div class="container">
				<div class="content-header">
					<h3>トピックス<br><small>Topics</small></h3>
				</div>
				<div class="content">
					<div class="row">
						<div class="col-sm-6 col-lg-4">
							<div class="main-topic animate-this fade-this-up">
								<div class="row">
									<div class="col-xs-12">
										<div id="patent" class="img-box">
											<div class="blur" style="background-image: url('/inter/assets/images/homepage/patent-blur.jpg');"></div>
											<img src="/inter/assets/images/topics/UStokkyo.jpg">
										</div>
									</div>
									<div class="col-xs-12">
										<div class="text-box">
											<h5>日米特許取得</h5>
											<p class="date">2006年07月</p>
											<p class="description">当社の独自技術の卓越性が米国でも認められ、２００６年７月「HyperTree」に関する米国特許（PAT.№.７８００８７）が成立しました。特許の内容は国内特許（3230677号）<span class="in-bl">と同等です。</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-4">
							<div class="main-topic animate-this fade-this-up" delay="200">
								<div class="row">
									<div class="col-xs-12">
										<div class="img-box lg-full-img">
											<div class="blur" style="background-image: url('/inter/assets/images/homepage/nagoya-blur.jpg');"></div>
											<img src="/inter/assets/images/topics/Nagoya Branch.jpg">
										</div>
									</div>
									<div class="col-xs-12">
										<div class="text-box">
											<h5>名古屋支店 移転</h5>
											<p class="date">2018年03月12日</p>
											<p class="description">
												名古屋支店が、移転いたしました。
												<ul>
													<li><img src="/inter/assets/images/common/map-marker.png"><span>愛知県名古屋市中村区名駅３-１１-２２<span class="in-bl">ＩＴ名駅ビル</span></span></li>
													<li><img src="/inter/assets/images/common/phone.png"><span>052-588-3480</span></li>
													<li><img src="/inter/assets/images/common/printer.png"><span>052-588-3481</span></li>
												</ul>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-lg-4 other-topics animate-this fade-this-left-seq">
							<h4 class="visible-lg">その他<span class="head-divider"> | </span><small>Others</small></h4>
							<div class="sub-topic fade-this-left-sect visible-lg" delay="400">
								<div class="row">
									<div class="img-box col-xs-5"><img src="/inter/assets/images/homepage/featured products/nurse working small.jpg"></div>
									<div class="text-box col-xs-7">
										<h5>Nurse Working<span class="in-bl">販売開始 </span><span class="date in-bl"> (2017年07月01日)</span></h5>
										<p class="description">看護業務をサポートする「Nurse Working」の販売を開始<span class="in-bl">致しました。</span></p>
									</div>
								</div>
							</div>
							<div class="sub-topic fade-this-left-sect visible-lg" delay="600">
								<div class="row">
									<div class="img-box col-xs-5"><img src="/inter/assets/images/homepage/featured products/nurse elearning small.jpg"></div>
									<div class="text-box col-xs-7">
										<h5>Nurse e-Learning<span class="in-bl">販売開始 </span><span class="date in-bl"> (2012年04月01日)</span></h5>
										<p class="description">看護師向けeラーニングアプリ「Nurse e-Learning」の販売を開始<span class="in-bl">致しました。</span></p>
									</div>
								</div>
							</div>
							<div class="sub-topic fade-this-left-sect visible-lg" delay="800">
								<div class="row">
									<div class="img-box col-xs-5"><img src="/inter/assets/images/topics/careManager.png"></div>
									<div class="text-box col-xs-7">
										<h5>CareHome Manager<span class="in-bl">販売開始 </span><span class="date in-bl"> (2011年06月01日)</span></h5>
										<p class="description">新パッケージソフト「CareHome Manager」の販売を開始<span class="in-bl">致しました。</span></p>
									</div>
								</div>
							</div>
							<div class="btnhov btnhov-color">
								<a href="/inter/topics" class="button-main button-blue">全てのトピックスはこちら</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--  Topics Section end  -->